@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;}
h1{
    font-size: 2.5em;
    color: #3177BA;
    font-weight: 200;
}

p{
    font-size: 1em;
    font-weight: 200;
}

#wrapper{
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
    padding-left: 5%;
    padding-right: 5%;
}

/********************/
/*      HEADER      */
/********************/
#header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: end;
    border-bottom: 1px solid #3177BA;
}

#header-logo {
    height: auto;
}

#header-logo img{
    width: 100%;
}

#header h1{
    text-align: right;
}

/********************/
/*      CONTENT     */
/********************/

#content{
    width: 100%;
}

#content-lang-button-wrapper{
    padding-top:5%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.language-list{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 2em;
}

.button{
    display: table;
    background: #3177BA;
    border-radius: 15px;
    height: 100%;
}

.button p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6em;
    font-weight: 400;
    height: 100%;
    color: #fff;
}

.button:hover{
    background: #13456c;
}


/********************/
/*      FOOTER      */
/********************/


#footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    text-align: center;
    border-top: 1px solid #3177BA;
}

#footer a{
    font-size: 2em;
    font-weight: 300;
    color: #3177BA;
}

#footer a:hover{
    text-decoration: underline 1px #3177BA;
}

/********************/
/*      IMPRINT     */
/********************/
#imprint-wrapper{
    display: grid;
    grid-template-rows: 1fr 8fr 0.5fr;
    padding-left: 5%;
    padding-right: 5%;
}

#imprint-header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: end;
    border-bottom: 1px solid #3177BA;
}

#imprint-header-logo {
    height: auto;
}

#imprint-header-logo img{
    width: 100%;
}

#imprint-header h1{
    text-align: right;
}

/********************/
/*  MOBILE QUERIES  */
/********************/

@media only screen and (min-width: 800px) {
    body {
    }
    h1 {
        font-size: 2.5em;
    }

    #wrapper {
        grid-template-rows: 1fr 7fr 0.5fr;
    }

    #content-lang-button-wrapper{
        padding-top: 2%;
    }
    .button p {
        font-size: 1.5em;
        font-weight: 400;
    }

    #footer a{
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 800px) {
    .button p {
        font-size: 2em;
        font-weight: 400;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait){
    h1 {
        font-size: 1.5em;
    }

    #content-lang-button-wrapper {
        grid-gap: 1em;
    }

    .language-list{
        grid-gap: 1em;
    }

    .button {
        border-radius: 10px;
    }
    .button p {
        font-size: 1.4em;
        font-weight: 400;
    }

    #footer a{
        font-size: 1.4em;
    }
}