@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;}

h1{
    font-size: 2.5em;
    color: #3177BA;
    font-weight: 200;
}

p{
    font-size: 1em;
    font-weight: 200;
}

#wrapper{
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
    padding-left: 5%;
    padding-right: 5%;
}

/********************/
/*      HEADER      */
/********************/
#header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: end;
    border-bottom: 1px solid #3177BA;
}

#header-logo {
    height: auto;
}

#header-logo img{
    width: 100%;
}

#header h1{
    text-align: right;
}


/********************/
/*   CONTENT-TEXT   */
/********************/

#contentText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow-y: hidden;
    background: rgba(255,255,255,0.6);
    visibility: hidden;
}

#contentText-inner{
    background: #ffb8c8;
    height: 100%;
    overflow-y: scroll;
    width: 80%;
    margin: 0 auto;
    padding-top: 10vh;
    filter: drop-shadow(0px 0px 10px #13456c);
}


.innerCloseButton {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}
.innerCloseButton:hover {
    opacity: 1;
    cursor: pointer;
}

.innerCloseButton:before, .innerCloseButton:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 5px;
    border-radius: 5px;
    background-color: #13456c;
}
.innerCloseButton:before {
    transform: rotate(45deg);
}
.innerCloseButton:after {
    transform: rotate(-45deg);
}

#innerLetter {
    width: 90%;
    height: auto;
    overflow-y: scroll;
    background: #ffffff;
    margin: 0 auto;
    padding-bottom: 10vh;
}

#innerLetter h1{
    color: #13456c;
    font-size: 2em;
    font-weight: 400;
}

#innerLetter h2{
    color: #13456c;
    font-size: 1.5em;
    font-weight: 200;
}

#innerLetter p {
    color: #001a2f;
    font-weight: 300;
}

#innerLetter a {
    color: #001a2f;
    font-weight: 300;
}


/********************/
/*      CONTENT     */
/********************/

#content{
    width: 100%;
}

#content-lang-button-wrapper{
    padding-top:5%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.language-list{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 2em;
}

.button{
    display: table;
    background: #3177BA;
    border-radius: 15px;
    height: 100%;
}

.button p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6em;
    font-weight: 400;
    height: 100%;
    color: #fff;
}

.button:hover{
    background: #13456c;
    cursor: pointer;
}


/********************/
/*      FOOTER      */
/********************/


#footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    text-align: center;
    border-top: 1px solid #3177BA;
}

#footer a{
    font-size: 2em;
    font-weight: 300;
    color: #3177BA;
    text-decoration: none;
}

#footer a:hover{
    text-decoration: underline 2px #3177BA;
}

/********************/
/*      IMPRINT     */
/********************/
#imprint-wrapper{
    display: grid;
    grid-template-rows: 1fr 8fr 0.5fr;
    padding-left: 5%;
    padding-right: 5%;
}

#imprint-header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: end;
    border-bottom: 1px solid #3177BA;
}

#imprint-header-logo {
    height: auto;
}

#imprint-header-logo img{
    width: 100%;
}

#imprint-header h1{
    text-align: right;
}

/********************/
/*  MOBILE QUERIES  */
/********************/

@media only screen and (min-width: 800px) {
    body {
    }
    h1 {
        font-size: 2.5em;
    }

    #wrapper {
        grid-template-rows: 1fr 7fr 0.5fr;
    }

    #content-lang-button-wrapper{
        padding-top: 2%;
        width: 60%;
        padding-left: 20%;
    }
    .button p {
        font-size: 1.5em;
        font-weight: 400;
    }

    #footer a{
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 800px) {
    .button p {
        font-size: 2em;
        font-weight: 400;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait){
    h1 {
        font-size: 1.5em;
    }

    #content-lang-button-wrapper {
        grid-gap: 1em;
    }
    #contentText-inner{
        width: 97%;
    }

    #innerLetter {
        width: 95%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #innerLetter h1{
        font-size: 1.3em;
    }


    .language-list{
        grid-gap: 1em;
    }

    .button {
        border-radius: 10px;
    }
    .button p {
        font-size: 1.4em;
        font-weight: 400;
    }

    #footer a{
        font-size: 1.4em;
    }
}